@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

.landing-page-container {
  padding: 1rem;
}

.banner-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannner-title {
  font-size: 6rem;
  line-height: 100%;
  letter-spacing: -2px;
  font-weight: 700;
  color: #025a4e;
  font-family: "PT Serif", serif;
  // font-family: "Poppins";
}

.anime:hover {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(8px);
  }
  25% {
    transform: translateY(-15px);
  }
}

// Text slide in animation

* {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  // background: #232323;

  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 50rem;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;

      .block {
        width: 0%;
        height: inherit;
        background: #025a4e;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
      }

      .content-wrapper {
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          background: #025a4e;
          -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92)
            forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -20px;
        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      .description {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    height: 100%;
    left: 0;
  }
  50% {
    width: 100%;
    height: 100%;
    left: 0;
  }
  100% {
    width: 0;
    height: 100%;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #025a4e;
    opacity: 0;
  }
  50% {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 1rem;
    height: 1rem;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 20px;
  }
  100% {
    width: 1rem;
    height: 1rem;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

// Text hide show animation

.description {
  color: #999;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  width: inherit;
}

.flip {
  height: 40px;
  overflow: hidden;
}

.flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background: #42c58a;
}
.flip div:first-child div {
  background: #4ec7f3;
}
.flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
